@charset "UTF-8";

/**
 * Custom CSS for the FingerPrint Web App
 * @authors Dahir Muhammad Dahir (dahirmuhammad3@gmail.com)
 * @date    2020-04-12 21:33:47
 * @version 1.0.0
 */

@font-face {
  font-family: "Montserrat";
  src: url("/res/webfonts/montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/res/webfonts/montserrat/Montserrat-ThinItalic.ttf")
    format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("/res/webfonts/montserrat/Montserrat-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/res/webfonts/montserrat/Montserrat-ExtraLightItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("/res/webfonts/montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/res/webfonts/montserrat/Montserrat-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("/res/webfonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/res/webfonts/montserrat/Montserrat-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("/res/webfonts/montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/res/webfonts/montserrat/Montserrat-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("/res/webfonts/montserrat/Montserrat-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/res/webfonts/montserrat/Montserrat-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("/res/webfonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/res/webfonts/montserrat/Montserrat-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("/res/webfonts/montserrat/Montserrat-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/res/webfonts/montserrat/Montserrat-ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("/res/webfonts/montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/res/webfonts/montserrat/Montserrat-BlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

body {
  background: #f4f4f4;
  font-family: "Montserrat", serif;
}

#controls {
  margin-top: 100px;
}

.my-text-button {
  font-family: "Montserrat", serif;
  color: #ffffff;
  font-size: 20px;
}

.button-text {
  font-family: "Montserrat", serif;
  /*font-weight: bold;*/
  color: #ffffff;
  font-size: 28px;
}

.my-pri-color {
  color: #0069d9;
}

.my-sec-color {
  color: #3949ab;
}

.my-border {
  border-color: #3949ab !important;
}

.icon {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-size: cover;
}

.icon-indexfinger-not-enrolled {
  background-image: url("/res/svg/indexfinger_not_enrolled.svg");
}

.icon-indexfinger-enrolled {
  background-image: url("/res/svg/indexfinger_enrolled.svg");
}

.icon-middlefinger-not-enrolled {
  background-image: url("/res/svg/middlefinger_not_enrolled.svg");
}

.icon-middlefinger-enrolled {
  background-image: url("/res/svg/middlefinger_enrolled.svg");
}

.icon-thumb-not-enrolled {
  background-image: url("/res/svg/thumb_not_enrolled.svg");
}

.icon-thumb-enrolled {
  background-image: url("/res/svg/thumb_enrolled.svg");
}

.icon-thumb-anim {
  background-image: url("/res/svg/thumb-anim.svg");
}

.capture-indexfinger {
  animation-duration: 500ms;
  animation-name: blink-index-finger;
  animation-iteration-count: infinite;
}

.capture-middlefinger {
  animation-duration: 500ms;
  animation-name: blink-middle-finger;
  animation-iteration-count: infinite;
}

.capture-thumb {
  animation-duration: 500ms;
  animation-name: blink-thumb;
  animation-iteration-count: infinite;
}

@keyframes blink-index-finger {
  from {
    background-image: url("/res/svg/indexfinger_not_enrolled.svg");
  }

  to {
    background-image: url("/res/svg/indexfinger-anim.svg");
  }
}

@keyframes blink-middle-finger {
  from {
    background-image: url("/res/svg/middlefinger_not_enrolled.svg");
  }

  to {
    background-image: url("/res/svg/middlefinger-anim.svg");
  }
}

@keyframes blink-thumb {
  from {
    background-image: url("/res/svg/thumb_not_enrolled.svg");
  }

  to {
    background-image: url("/res/svg/thumb-anim.svg");
  }
}
